@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>OAB is an Online Address Book management created by Emmanuel Kgatla, A Sofware Developer who completed his IT diploma in 2016</p>