@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    House no 1677<br />
    Ululwane St, Mayibuye, 1628<br />
    <abbr title="Phone">P:</abbr>
    066 223 8612
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mannykga@outlook.com">mannykga@outlook.com</a><br />
</address>